---
import type { NSAData } from "../types/types";
import { BorderBeam } from "../components/magicui/border-beam";

interface Props {
  data: NSAData;
}

const { data } = Astro.props;
---

<div
  class="bg-slate-900/50 text-white rounded-lg shadow-lg shadow-slate-800 w-4/5 h-fit flex justify-start items-start gap-1.5"
>
  <div class="w-1/2 h-full overflow-hidden">
    <img
      src={data.url}
      alt={data.explanation}
      class="w-full h-full rounded-l-lg hover:scale-110 transition-all object-contain"
    />
  </div>
  <div class="w-1/2 py-3 flex flex-col gap-1.5 p-4 text-pretty">
    <h2 class="text-xl font-bold mb-2">{data.title}</h2>
    <p class="text-md text-pretty">
      {data.explanation}
    </p>
  </div>
</div>
