<nav class="flex flex-between items-center w-full py-6 px-8 border-b-2 border-slate-600/30 rounded-b-sm bg-slate-900/50 text-white">
  <div class="flex justify-satrt items-center w-2/5 gap-4">
    <div class=" relative flex justify-center items-center p-4 ">
      <div class="bg-cyan-950 w-12 h-12 z-10 absolute rounded-full"></div>
      <div class="bg-blue-800 w-8 h-8 z-20 absolute rounded-full border-1 border-amber-300 animate-meteor"></div>
      <div
        class="bg-yellow-600 w-4 h-4 z-30 absolute rounded-full animate-pulse border border-amber-100"
      >
      </div>
    </div>
    <h1 class="w-full text-2xl font-semibold bg-gradient-to-r from-violet-600 to-cyan-300 bg-clip-text text-transparent">CosmicPulse</h1>
  </div>  
  <ul class="w-3/5 flex justify-end items-center gap-6">
    <li><a href="/"></a>Dashboard</li>
    <li><a href="/About">About</a></li>
    <li><a href="/AuroraForecast"></a>Aurora Forecast</li>
    <li><a href="/SolarActivity"></a>Solar Activity</li> 
    <li><a href="/Resources"></a>Resources</li>
  </ul>
</nav>
